<div class="row">
    <div class="form-group col-6">
        
        
        {% if widget.is_initial %}
            {{ widget.initial_text }}:
            <a class="form-control col-12 " href="{{ widget.value.url }}">{{ widget.value }}</a>
            {% if not widget.required %}
                
                <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
                <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            {% endif %}
        
    </div>
    <div class="form-group col-6">
            {{ widget.input_text }}:
        {% endif %}
        <div class="custom-file">
            <label class="custom-file-label" for="avatarImage">Choose file</label>
            <input type="{{ widget.type }}" name="{{ widget.name }}" class="custom-file-input" id="avatarImage">
        </div>
        
    </div>
</div>

<!-- <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}> -->

