# Text backup files
*.bak

# Log files
*.log

# Database
*.sqlite3

# Pipenv.lock
Pipfile.lock

# Media
/media/*

# Static CDN
/static_cdn_test/*

#vscode
/.vscode/*
settings.json

db.sqlite3
.vscode/settings.json
node_modules
