        <div class="table-responsive">     
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Author</th>
                <th colspan="4">Summary</th>
              </tr>
            </thead>
            <tbody>
              {% for object in query %}
              <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.author }}</td>
                <td colspan="4"><a href="{{ object.get_absolute_url }}">{{ object.summary }}</a></td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
        {% if request.user.is_authenticated and detail %}
          <a href="/activity/create/{{ object.id }}" class="btn btn-primary btn-circle">
            <i class="fas fa-plus"></i>
          </a>
        {% endif %}

