{% extends "base.html" %}

{% block content %}

<!-- Page Heading -->
<!-- <h1 class="h3 mb-4 text-gray-800">{{ page_title }}</h1> -->

<!-- Bug details -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{{ page_title }}</h6>
  </div>
  <div class="card-body">
    
    {% include "bug/detail_table.html" %}

    {% if request.user.is_authenticated and detail %}
    <a href="/bug/{{ object.id }}/edit" class="btn btn-primary btn-circle">
      <i class="fa fa-edit"></i>
    </a>
    <a href="/bug/{{ object.id }}/delete" class="btn btn-danger btn-circle">
      <i class="fa fa-trash"></i>
    </a>
    {% endif %}

  </div>
</div>

<!-- List of activities for this bug -->

{% include "activity/list.html" with query=activities %}

{% endblock  %}