
        <div class="table-responsive">     
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Summary</th>
                <th>Project</th>
                <th>Resolution</th>
                <th>Severity</th>
                <th>Priority</th>
              </tr>
            </thead>
            <tbody>
              {% for object in query %}
              <tr>
                <td>{{ object.id }}</td>
                <td><a href="{{ object.get_absolute_url }}">{{ object.summary }}</a></td>
                <td><a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a></td>
                <td>{{ object.get_resolution_display }}</td>
                <td>{{ object.get_severity_display }}</td>
                <td>{{ object.get_priority_display }}</td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      {% if request.user.is_authenticated and detail %}
        <a href="/bug/create/{{ object.id }}" class="btn btn-primary btn-circle">
          <i class="fas fa-plus"></i>
        </a>
      {% endif %}
      

