
        <div class="table-responsive">     
          <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr class="row d-flex m-0">
                <th scope="col" class="d-inline-block px-0 col-3 col-lg-1">ID</th>
                <th scope="col" class="d-inline-block px-0 col-9 col-lg-4">Summary</th>
                <th scope="col" class="d-none d-md-inline-block px-0 col-3 col-lg-2">Resolution</th>
                <th scope="col" class="d-none d-md-inline-block px-0 col-9 col-lg-3">Project</th>
                <th scope="col" class="d-none d-lg-inline-block px-0 col-lg-1">Severity</th>
                <th scope="col" class="d-none d-lg-inline-block px-0 col-lg-1">Priority</th>
              </tr>
            </thead>
            <tbody>
              {% for object in query %}
              <tr class="row d-flex m-0">
                <th scope="row" class="d-inline-block px-0 col-3 col-lg-1">{{ object.id }}</th>
                <td class="d-inline-block px-0 col-9 col-lg-4"><a href="{{ object.get_absolute_url }}">{{ object.summary }}</a></td>
                <td class="d-none d-md-inline-block px-0 col-3 col-lg-2">{{ object.get_resolution_display }}</td>
                <td class="d-none d-md-inline-block px-0 col-9 col-lg-3"><a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a></td>
                <td class="d-none d-lg-inline-block px-0 col-lg-1">{{ object.get_severity_display }}</td>
                <td class="d-none d-lg-inline-block px-0 col-lg-1">{{ object.get_priority_display }}</td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      <!-- In case this view is part of project's detailed view -->
      {% if request.user.is_authenticated and detail %}
        <a href="/bug/create/{{ object.id }}" class="btn btn-primary btn-circle">
          <i class="fas fa-plus"></i>
        </a>
      {% endif %}
      

