    <dl class="row m-0 mb-4">

        <dt class="p-2 col-12 col-sm-2">Name:</dt>
        <dd class="p-2 mb-0 col-12 col-sm-10">{{ object.name }}</dd>
        
        <dt class="p-2 border-top col-5 col-sm-2">ID:</dt>
        <dd class="p-2 mb-0 border-top col-7 col-sm-4">{{ object.id }}</dd>
                  
        <dt class="p-2 border-top col-5 col-sm-2">Author:</dt>
        <dd class="p-2 mb-0 border-top col-7 col-sm-4">{{ object.author }}</dd>
           
        <dt class="p-2 border-top col-5 col-sm-2">Created on:</dt>
        <dd class="p-2 mb-0 border-top col-7 col-sm-4">{{ object.created_on }}</dd>
         
        <dt class="p-2 border-top col-5 col-sm-2">Last updated on:</dt>
        <dd class="p-2 mb-0 border-top col-7 col-sm-4">{{ object.updated_on }}</dd>

        <dt class="p-2 border-top col-5 col-sm-2">Team members:</dt>
        <dd class="p-2 mb-0 border-top col-7 col-sm-10">{% for user in object.team_members.all %}{{ user }} <br>{% endfor %}</dd>
          
        <dt class="p-2 border-top col-12">Description:</dt>
        <dd class="p-4 mb-0 col-12">{{ object.description|linebreaks }}</dd>   
        
    </dl>
  