      <div class="table-responsive">     
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            {% for object in query %}
            <tr>
              <td>{{ object.id }}</td>
              <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
              <td>{{ object.description }}</td>
              <td>{{ object.author }}</td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
