<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BugTracker - {{ page_title }}</title>

  <!-- CSS and fonts -->
  {% include "base/css.html" %}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include "base/sidebar.html" %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    {% block content-wrapper %}
    {% endblock content-wrapper %}
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Session (Sign in/Register/Log out) Modal-->
  {% include "base/session.html" %}

  <!-- JavaScript -->
  {% include "base/js.html" %}


</body>

</html>
