{% extends "base/content.html" %}

{% block content %}

    {% load formcss %}

    <form class="user" method="post" action="." enctype='multipart/form-data'>
            {% csrf_token %}

            {% if custom_form_template %}
            
                {% include appname_lower|add:"/form_custom.html" %}
            
            {% else %}

                {% for field in form %}
                <div class="form-group row">
                    <div class="col-12">
                    {{ field.label }}
                    {{ field.errors }}
                    {{ field }}
                    </div>
                </div>
                {% endfor %}

            {% endif %}

            <button type="submit" class="btn btn-primary btn-user btn-block" value="submit">
            Save entry
            </button>
            <hr>
    </form>

{% endblock content %}