{% extends "base/content.html" %}

{% block heading %}
<!-- Empty heading -->
{% endblock heading %}


{% block controls %}
    
    <!-- Control buttons -->

    {% if request.user.is_authenticated %}
<!--         <a href="/{{ appname }}/create" class="btn btn-primary btn-icon-split mt-3">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Add new {{ appname_lower }}</span>
        </a> -->

        <a href="/{{ appname_lower }}/create" class="btn btn-primary btn-circle mt-2">
           <i class="fas fa-plus"></i>
        </a>        
    {% endif %}

{% endblock controls %}


{% block content %}

    {% include appname_lower|add:"/list_view.html" %}


{% endblock %}